<ion-view view-title="Login" side="center">

  <ion-nav-bar class="bar-positive"> </ion-nav-bar>

  <ion-content>
    <p style="text-align:center;"><img src="img/spiel.png" style="width:200px;" alt="logo"></p>

    <div class="list">
      <label class="item item-input">
    <input type="email" ng-model="form.email" placeholder="Email">
  </label>
      <label class="item item-input">
    <input type="password" ng-model="form.password" placeholder="Password">
  </label>
    </div>
    <button class="button button-block button-positive button-outline" ng-click="login()">
      Submit
    </button>
  </ion-content>
</ion-view>
