<ion-view>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
    {{user.name}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-telephone-outline" ng-href="tel:{{user.mobile}}">
    </a>
  </ion-nav-buttons>

  <ion-content>
    <!-- profile -->
    <div class="item item-avatar item-button-right">
      <img src="img/images.jpg">
      <h2>{{user.designation|designations}} </h2>
      <p><span>Dob: {{user.dob|dobShow}}</span></p>
    </div>
    <!-- end of profile -->
    <!-- skills -->
    <div class="list">

      <div ng-repeat="(skillCategory,subSkills) in skills">
        <div class="item item-divider">
          {{skillCategory}}
        </div>

        <a class="item item-icon-right" ng-click="createRequestSkill(skill);" ng-repeat="skill in subSkills">
    {{skill.name}}
     <i class="icon {{skill.approvalStatus|skillStatusIcon:myProfile}}"></i>
  </a>

      </div>




      <!-- end of skills -->
  </ion-content>
</ion-view>
