<ion-view side="center">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
    {{designation.name}}
  </ion-nav-title>


  <ion-content>
    <div class="list">

      <div ng-repeat="(skillCategory,subSkills) in skills">
        <div class="item item-divider">
          {{skillCategory}}
        </div>

        <a class="item item-icon-right" ng-click="createRequestSkill(skill);" ng-repeat="skill in subSkills">
    {{skill.name}}
     <i class="icon {{skill.approvalStatus|skillStatusIcon:myProfile}}"></i>
  </a>
  </ion-content>
</ion-view>
