<ion-tabs class="tabs-icon-only tabs-background-positive tabs-color-light">

  <!-- Leaderboard Tab -->
  <ion-tab icon="ion-ios-people" href="#/tab/leaderboard">
    <ion-nav-view name="tab-leaderboard"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab icon="ion-university" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Desination Tab -->
  <ion-tab icon="ion-ribbon-b" href="#/tab/designation">
    <ion-nav-view name="tab-designation"></ion-nav-view>
  </ion-tab>

  <!-- Notification Tab -->
  <!-- <ion-tab icon="ion-ios-bell" href="#/tab/notification">
    <ion-nav-view name="tab-notification"></ion-nav-view>
  </ion-tab> -->
